# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

***Objective-This course gave a brief instruction about the tools used in data science field***  
Popular languages for Data Science
* Python
* R
* SQL

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java
5. Julia
6. Scala
7. C/C++
8. JavaScript
9. Swift
10. Go
11. MATLAB
12. SAS

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. NumPy
3. SciPy 
4. Pandas
5. Matplotlib 
6. Keras
7. SciKit-Learn
8. PyTorch

| Data Science Tools |
|:------------------:|
| Jupyter Notebook   |
| Apache Spark       |
| TensorFlow         |

### Below are a few examples of evaluating arithmetic expressions in Python

In [9]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [11]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
***Siddhesh Dhadse***